
  <body class="hold-transition skin-blue sidebar-mini">

    <app-container></app-container>

    <!-- jQuery 2.1.4 -->
    <script   src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- iCheck -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/lib/AdminLTE/dist/js/app.min.js"></script>

    <!-- IE required polyfills (order matters) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.0/es6-shim.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.24/system-polyfills.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.24/system.js"></script>

    <script>
      System.config({
        map: {
          app: "./js/app",
        },
        baseURL: '/lib',
        defaultJSExtensions: true,
        warnings: true,
        packages: {
          'js/app': {
            format: 'register',
            defaultExtension: 'js'
          }
        }
      });
      
      System.import ('https://code.angularjs.org/2.0.0-beta.11/angular2.dev.js').then(null, console.error.bind(console));
      System.import ('./js/app/app').then(null, console.error.bind(console));

      $(document).ajaxStart(function () {
        Pace.restart();
      });
    </script>
  </body>